    <div class="container-personal">

      <div class="card-cucumber" class="text-center">
        <h1 class="text-center mb-2">CoolCucumbers</h1>
        <%= image_tag("coolcucumber", options = {class: "pic"}) %>
         <a href="http://www.coolcucumbers.de" data-type="remote" target="blank" class="friends mt-3" class="text-center">Be a CoolCucumber</a>
      </div>


      <div class="card-cucumber" class="text-center">
        <h1 class="text-center mb-2">CoolCucumbers</h1>
        <%= image_tag("coolcucumber", options = {class: "pic"}) %>
         <a href="http://www.coolcucumbers.de" data-type="remote" class="friends mt-3" class="text-center">Be a CoolCucumber</a>
      </div>


      <div class="card-cucumber" class="text-center">
        <h1 class="text-center mb-2">CoolCucumbers</h1>
        <%= image_tag("coolcucumber", options = {class: "pic"}) %>
         <a href="http://www.coolcucumbers.de" data-type="remote" class="friends mt-3" class="text-center">Be a CoolCucumber</a>
      </div>

      <div class="card-cucumber" class="text-center">
        <h1 class="text-center mb-2">CoolCucumbers</h1>
        <%= image_tag("coolcucumber", options = {class: "pic"}) %>
         <a href="http://www.coolcucumbers.de" data-type="remote" class="friends mt-3" class="text-center">Be a CoolCucumber</a>
      </div>

    </div>
